extends ../layout.jade
block body
  include ../toolbar.jade
  #top(style="margin-top: -20px;width: 100%;")
    img.img-responsive(src="/assets/images/header/slideshow.gif", width="100%")
  .container(style="min-height: 200px;")
    .row
      .col-md-2.hidden-sm.hidden-xs
        .bs-sidebar(hidden-print, role="complementary")
          ul.nav.bs-sidenav
            each nav in navs
              li
                a(href="\##{nav.target}") #{nav.name}
      .col-md-10
        each content in contents
          h1.anchor-static-navbar(id="#{content.name}")
          h1.page-header #{content.title}
          div!= content.content
  include ../footer.jade
